<ion-header>
  <ion-toolbar>
    <ion-title>documento-clinico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="currentStep == 1">
    <ngx-select-dropdown [config]="config" [options]="participantes" [(ngModel)]="participante"
      (change)="participanteSelecionado($event)" [multiple]="false"></ngx-select-dropdown>
  </div>

  <div *ngIf="currentStep == 2">
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Name</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Biff</ion-label>
          <ion-radio slot="start" value="biff" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Griff</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Buford</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  <button (click)="nextStep()">Next</button>
</ion-content>